.toDoModal {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.addToDoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 1rem;
  padding: 1rem;
  width: 75%;
  box-shadow: 0 0 8px black;
}
.addToDoForm > div {
  display: flex;
  gap: 1rem;
}
.addToDoForm > input {
  font-size: large;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.addToDoForm button,
.addToDoForm a {
  color: white;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 999px;
  text-decoration: none;
  cursor: pointer;
}
.submit {
  background-color: forestgreen;
}
.submit:disabled {
  opacity: 0.6;
}
.cancel {
  background-color: red;
}
